operators.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="https://lna-lang.org/xsd/operators"
            xmlns="https://lna-lang.org/xsd/operators"
            elementFormDefault="qualified">

  <xsd:element name="operators">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="operator" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="description" type="xsd:string" minOccurs="0"/>
              <xsd:element name="effect_map" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="effect" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:attribute name="core" use="required">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:enumeration value="EXTRACT"/>
                              <xsd:enumeration value="RESOLVE"/>
                              <xsd:enumeration value="WEIGHT"/>
                              <xsd:enumeration value="LOCK"/>
                              <xsd:enumeration value="STYLE"/>
                              <xsd:enumeration value="VERIFY"/>
                              <xsd:enumeration value="REWRITE"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="weight" type="xsd:decimal" use="required"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="namespace" type="xsd:string" use="required"/>
            <xsd:attribute name="version" type="xsd:string" use="required"/>
            <xsd:attribute name="stability" type="xsd:string" use="optional"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="dialect" type="xsd:string" use="required"/>
      <xsd:attribute name="semver" type="xsd:string" use="required"/>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
